#about {
  padding: 30px;
  border-bottom: 2px solid black;
}

#about::after {
  content: "";
  display: block;
  clear: both;
}

#languageIcons > h1 {
  margin: 30px 40px;
  font-size: 2em;
  font-weight: 600;
}

#languageList {
  margin: 0 40px;
}


.row > li {
  display: inline;
}

.lanIcon {
  margin: 15px;
  width: 60px;
  height: 60px;
}

#aboutMe {
  float: right;
  width: 60%;
}

#aboutMe > h2 {
  margin: 0 30px; 
  font-size: 1.8em;
  font-weight: 600;
}

#aboutMe > p {
  margin: 30px;
  line-height: 1.3em;
  font-size: 1.3em;
}