#education {
  padding: 30px;
  border-bottom: 2px solid lightgray;
}

#education::after {
  content: "";
  display: block;
  clear: both;
}

#waterlooIcon {
  margin: 10px;
  width: 100px;
}

#waterlooIconDiv {
  float: left;
}

#educationInfo {
  margin: 20px;
  float: left;
}

#class {
  font-size: 1.3em;
  font-weight: 600;
}

#candidate {
  line-height: 1.3em;
}