#footer {
  margin: 40px;
  margin-bottom: 60px;
  text-align: center;
}

#contact {
  line-height: 1.3em;
}

#contact > h1 {
  margin: 20px;
  font-size: 2em;
  font-weight: 700;
}

#contact > h2 {
  font-size: 1.5em;
}