#home {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 60px 0;
}

#home::after {
  content: "";
  display: block;
  clear: both;
}

#intro {
  float: left;
  width: 50%;
  margin: 50px;
  line-height: 1.5em;
  box-sizing: border-box;
}

#intro > h1 {
  margin: 40px 0;
  font-size: 2.5em;
}

#intro > h2 {
  font-size: 1.1em;
}

#links {
  margin: 50px;
  float: left;
}

#linkList {
  display: flex;
  flex-wrap: wrap;
}

#linkList > li{
  padding: 20px;
  text-align: center;
  display: inline;
}

.column {
  float: left;
  flex: 50%;
  max-width: 50%;
}

.icon {
  width: 50px;
  padding: 20px;
}

