#nav {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 20px 15px 15px 15px;
  border-bottom: 3px solid black;
}

#nav::after {
  content: "";
  display: block;
  clear: both;
}

#name {
  float: left;
  margin: 0px 20px 0px 10px;
  font-size: 1.3em;
}

#navList {
  list-style-type: none;
}

#navList > li {
  line-height: 1.3em;
  float: left;
}

#navList > li > a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 0 10px 5px;
  position: relative;
}

#navList > li > a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#navList > li > a:hover::after {
  width: 100%;
  left: 0;
}

#navList > li > a:visited {
  color: black;
}
